<nz-layout class="full-screen">
  <nz-header>
    <h1 class="header">
      Today | ng-zorro 教程项目
    </h1>
  </nz-header>
  <nz-content>
    <div class="wrapper">
      <p>
        欢迎使用 Today，让我们来进行一些初次使用所需要的设置。
      </p>
      <input nz-input placeholder="请输入你喜欢的用户名" #usernameInput [(ngModel)]="username">
      <button nz-button [nzType]="'primary'" (click)="completeSetup()" [disabled]="!usernameInput.value" >
        开始使用
      </button>
    </div>
  </nz-content>
  <nz-footer>
    Today © 2018 By Wendell Hu
  </nz-footer>
</nz-layout>
