.setup-container {
  display: flex;
}

p {
  margin: 12px auto;
  font-size: 14px;
}

.avatar {
  max-width: 240px;
  max-height: 240px;
}

.avatar-preview {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  border-radius: 50%;
}
