<nz-layout class="full-screen">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="260">
    <div class="header-wrapper">
      <div class="username-text">
        {{ username }}
      </div>
      <div (click)="goSettings()" class="floating-btn header-btn">
        <i class="anticon anticon-setting"></i>
      </div>
      <div (click)="goSummary()" class="floating-btn header-btn">
        <i class="anticon anticon-calendar"></i>
      </div>
    </div>
    <div class="list-wrapper">
      <app-list [lists]="innerLists" [collapsed]="isCollapsed"
                (clickList)="clickList($event)"
                (renameList)="showRenameListModal($event)"
                (deleteList)="confirmDeleteList($event)">
      </app-list>
      <div class="add-list-btn-wrapper">
        <button nz-button nzGhost nzType="dashed" (click)="showAddListModal()" [nzShape]="isCollapsed">
          <i class="anticon anticon-plus"></i>
          <span *ngIf="!isCollapsed">添加列表</span>
        </button>
      </div>
    </div>
  </nz-sider>
  <nz-content>
    <nz-layout>
      <nz-header class="todo-header">
        <app-header [listTitle]="currentList?.title" (rankerChange)="handleRankerChange($event)"></app-header>
      </nz-header>
      <nz-content>
        <app-todo-list [todos]="innerTodos"
                       (todoClick)="handleTodoClick($event)"
                       (todoDelete)="deleteTodo($event)"
                       (todoToday)="setToday($event)"
                       (todoToggle)="toggleComplete($event)">
        </app-todo-list>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>

<app-floating-btn class="floating-button" (click)="showAddTodoModal()"></app-floating-btn>

<!-- Can these be components? -->
<nz-modal [(nzVisible)]="addTodoModalVisible"
          [nzTitle]="'添加新待办事项'"
          [nzClosable]="true"
          [nzWidth]="420"
          [nzOkText]="'添加'"
          [nzCancelText]="'取消'"
          [nzMaskClosable]="true"
          (nzOnCancel)="closeAddTodoModal()"
          (nzOnOk)="handleAddTodoOk(todoInput.value); todoInput.value = '';">
  <form nz-form>
    <nz-form-item>
      <nz-form-control>
        <input nz-input
               #todoInput
               placeholder="想要做什么？"
               name="todoTitle"
               (keydown.enter)="handleAddTodoOk(todoInput.value); todoInput.value = '';">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="addListModalVisible"
          [nzTitle]="'添加新列表'"
          [nzClosable]="true"
          [nzWidth]="420"
          [nzOkText]="'添加'"
          [nzCancelText]="'取消'"
          [nzMaskClosable]="true"
          (nzOnCancel)="closeAddListModal()"
          (nzOnOk)="handleAddListOk(listInput.value); listInput.value = '';">
  <form nz-form>
    <nz-form-item>
      <nz-form-control>
        <input nz-input
               #listInput
               name="listTitle"
               placeholder="列表名称"
               (keydown.enter)="handleAddListOk(listInput.value); listInput.value = '';">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="renameListModalVisible"
          [nzTitle]="'重命名列表'"
          [nzClosable]="true"
          [nzWidth]="420"
          [nzOkText]="'重命名'"
          [nzCancelText]="'取消'"
          [nzMaskClosable]="true"
          (nzOnCancel)="closeRenameListModal()"
          (nzOnOk)="renameList(listRenameInput.value); listRenameInput.value = '';">
  <form nz-form>
    <nz-form-item>
      <nz-form-control>
        <input nz-input
               #listRenameInput
               placeholder="列表名称"
               name="renameListTitle"
               (keydown.enter)="renameList(listRenameInput.value); listRenameInput.value = '';">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<!-- detail -->
<router-outlet></router-outlet>
